<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactlibrary">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22"/> <!-- GPS服务的权限 coarse慢的，fine快的 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA"/>

    <application
        android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name=".hms.RequestLocationUpdatesWithCallbackActivity"></activity>
        <activity android:name=".hms.DistanceCalculatorDemo"></activity>
        <activity android:name=".hms.SearchDemoActivity"></activity>
        <activity android:name=".hms.MarkerDemoActivity"/>
        <activity android:name=".hms.CameraDemoActivity"/>
        <activity android:name=".hms.BasicMapDemoActivity"/>
        <activity android:name=".hms.MapFragmentDemoActivity"/>
        <activity android:name=".hms.MapViewDemoActivity"/>
        <activity android:name=".hms.SupportMapDemoActivity"/>
        <activity android:name=".hms.SupportMapCodeDemoActivity"/>
        <activity android:name=".hms.MapViewCodeDemoActivity"/>
        <activity android:name=".hms.MapFragmentCodeDemoActivity"/>
        <activity
            android:name=".hms.EventsDemoActivity"
            android:label="@string/event_demo"/>
        <activity
            android:name=".hms.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".hms.CircleDemo"
            android:label="CircleDemo"/>
        <activity
            android:name=".hms.ControlsDemo"
            android:label="ControlsDemo"/>
        <activity
            android:name=".hms.GestureDemo"
            android:label="GestureDemo"/>
        <activity
            android:name=".hms.GroundOverlayDemo"
            android:label="GroudOverlayDemo"/>
        <activity
            android:name=".hms.LiteModeDemo"
            android:label="LiteModeDemo"/>
        <activity
            android:name=".hms.MapFunctionsDemo"
            android:label="MapFunctions"/>
        <activity
            android:name=".hms.MoreLanguageDemo"
            android:label="MoreLanguageDemo"/>
        <activity
            android:name=".hms.PolygonDemo"
            android:label="PolygonDemo"/>
        <activity
            android:name=".hms.PolylineDemo"
            android:label="PolylineDemo"/>
        <activity
            android:name=".hms.TrafficDemo"
            android:label="TrafficDemo"/>
        <activity
            android:name=".hms.LocationSourceDemoActivity"
            android:label="LocationSourceDemoActivity"/>

    </application>
</manifest>
